# API Configuration
OPENROUTER_API_KEY = "Your API key goes here"
OPENAI_API_KEY = "Your API key goes here"

# Experiment Configuration
NUM_ATTEMPTS = 1
NUM_BRANCHES = 3
MAX_ENCODING_TRIES = 3
MAX_DECODING_TRIES = 3
MAX_TOKENS = 2000
MAX_PARALLEL_DECODING_ATTEMPTS = 5

#Output formatting
CSV_DELIMITER = ';.;'